<div style="display:flex; justify-content: space-between;"><button mat-icon-button [matMenuTriggerFor]="portal_menu" [matBadge]="jiraChanges + taskChanges" [matBadgeHidden]="jiraChanges + taskChanges==0" matBadgeColor="accent"  matBadgeSize="small" >
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #portal_menu="matMenu">
  <button mat-menu-item (click)="setWorkspace('Tests')" [disabled]="workspace=='Tests'">
    <mat-icon>notes</mat-icon>
    <span>Tests</span>
  </button>
  <button mat-menu-item (click)="setWorkspace('Pages')" [disabled]="workspace=='Pages'">
    <mat-icon>find_in_page</mat-icon>
    <span>Pages</span>
  </button>
  <button mat-menu-item (click)="setWorkspace('Jiras')" [disabled]="workspace=='Jiras'" >
    <mat-icon [matBadge]="jiraChanges" [matBadgeHidden]="jiraChanges==0" matBadgeColor="accent"  matBadgeSize="small" >assignment_turned_in</mat-icon>
    <span>Jiras</span>
  </button>
  <button mat-menu-item (click)="setWorkspace('Timeline')" [disabled]="workspace=='Timeline'">
    <mat-icon>access_time</mat-icon>
    <span>Timeline</span>
  </button>
  <button mat-menu-item (click)="setWorkspace('Tasks')" [disabled]="workspace=='Tasks'">
  <mat-icon [matBadge]="taskChanges" [matBadgeHidden]="taskChanges==0" matBadgeColor="accent"  matBadgeSize="small">list</mat-icon>
  <span>Tasks</span>
</button>
</mat-menu>
<h1 style="padding-top: 10px;" > Portal QA Auto Test Workspace</h1>
<h3>welcome!<b *ngIf="user && user.username">{{user.username}}</b></h3>
</div>

<as-split direction="horizontal" [restrictMove]="true" [useTransition]="true" *ngIf="initialized" style="height:88%;border:solid">
  <as-split-area [size]="20">
    <mat-tab-group (selectedIndexChange)="changeEnv($event)" [selectedIndex]="selectIndex">
      <mat-tab [label]="env.name" *ngFor="let env of data">
        <div *ngFor="let perspective of env.perspectives">
          <div [hidden]="perspective.name!=workspace">
            <div class="inline" *ngIf="perspective.name!='Jiras'"><input type="search" matInput placeholder="Search" [(ngModel)]="perspective.search" style="width:90%">
              <button mat-button matSuffix mat-stroked-button aria-label="search" (click)="searchPerspective(perspective)" 
              [disabled]="perspective.search.length < 7" style="width: 10%">
                <mat-icon>search</mat-icon>
            </button>
          </div>  
          <div *ngIf="perspective.name == 'Jiras'"><button mat-raised-button color="primary" (click)="enableJiraSummary()" *ngIf="jira">Summary</button>
            <button mat-raised-button color="primary" style="margin-left: 10px;" (click)="addJira()" [disabled]="new_jira">Add a Jira</button>

          </div>
        <mat-tree [dataSource]="perspective.data" [treeControl]="treeControl" class="qaauto-tree" >
          <!-- This is the tree node template for leaf nodes -->
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>            
            <button  class="scenario-text" (click)="selectNode(node)"  
            [class.jira]="node.data && node.data.JIRA && !node.data.selected"
            [class.changed]="node.data && node.data.changes && node.data.removed && node.data.changes.length + node.data.removed.length > 0 && !node.data.selected" 
            [class.selected]="node.data && node.data.selected"            
            >{{node.name}}<span *ngIf="perspective.name=='Jiras'" [matBadge]="node.data.changes.length+node.data.removed.length" [matBadgeHidden]="node.data.changes.length+node.data.removed.length==0" matBadgeColor="accent"  matBadgeSize="small"></span></button>
        </mat-tree-node>
          <!-- There is inline padding applied to this node using styles.
            This padding value depends on the mat-icon-button width. -->
          <!-- This is the tree node template for expandable nodes -->
          <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
              <div class="mat-tree-node">
                <button mat-icon-button matTreeNodeToggle
                        [attr.aria-label]="'Toggle ' + node.name">
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                  </mat-icon>
                </button>
                <span *ngIf="perspective.name!='Tasks'">{{node.name}}</span>
                <button *ngIf="perspective.name=='Tasks'" [matBadge]="node.data.changes.length + node.data.removed.length" [matBadgeHidden]="node.data.changes.length + node.data.removed.length==0" matBadgeColor="accent"  matBadgeSize="small" (click)="showTask(node)">{{node.name}}</button>
              </div>
              <!-- There is inline padding applied to this div using styles.
                  This padding value depends on the mat-icon-button width.  -->
              <div [class.qaauto-tree-invisible]="!treeControl.isExpanded(node)"
                  role="group">
                <ng-container matTreeNodeOutlet></ng-container>
            </div>
          </mat-nested-tree-node>
        </mat-tree>        
      </div>
    </div>
    <div *ngIf="workspace == 'Timeline'">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Time</mat-card-title>
          <mat-card-subtitle>{{env.timelines.start_time}} - {{env.timelines.end_time}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-form-field style="width:100%">
        <mat-label>Time</mat-label>
        <div class="inline">
        <input type="text" matInput [(ngModel)]= "env.timelines.current_time" [max]="env.timelines.end_time" [formControl]="testTimeControl" [errorStateMatcher]="matcher"
               placeholder="YYYY-MM-DD HH:MM:SS" style="width: 90%;">    
               <button mat-button matSuffix mat-stroked-button aria-label="search" (click)="setCurrentTime()" 
                style="width: 10%">
                 <mat-icon>search</mat-icon>
             </button>
     
        </div>
        <mat-error *ngIf="testTimeControl.hasError('format')">
          Please enter a time as YYYY-MM-DD HH:MM:SS
        </mat-error>
      </mat-form-field>
      
      <mat-slider            
      [max]="env.timelines.duration"
      [min]="0"
      [step]="60"
      showTickMarks discrete  style="margin-left: 15%;margin-right: 15%;margin-top:10%;width:70%"
      >
    <input matSliderThumb [(ngModel)]="env.timelines.value" (change)="setTimelineValue()">
  </mat-slider>  
  <mat-card>
    <mat-card-header>
      <mat-card-title>Select Context</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-checkbox *ngFor="let context of env.timelines.context_list" [(ngModel)]="context.checked" (ngModelChange)="updateContextChecked(context)">{{context.name}}</mat-checkbox>
  </mat-card-content>
  </mat-card>
  <div *ngFor="let container of env.timelines.containers">
  <mat-card *ngIf="container.visible && container.checked" [class.error]="container.scenario.result=='failed'" style="border:solid 1px black;">
    <mat-card-header>
      <mat-checkbox [(ngModel)]="container.checked" (ngModelChange)="containerDetail(env.timelines)" > </mat-checkbox><mat-card-title>       
        {{container.name}}        
      </mat-card-title>
      <mat-card-subtitle><h3><b>{{container.context.name}}</b></h3></mat-card-subtitle>
      <mat-card-subtitle>{{container.scenario.name}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
<div *ngFor="let container of env.timelines.containers">
  <mat-card *ngIf="container.visible && !container.checked" [class.error]="container.scenario.result=='failed'" style="border:solid 1px black;">
    <mat-card-header>
      <mat-checkbox [(ngModel)]="container.checked" (ngModelChange)="containerDetail(env.timelines)" > </mat-checkbox><mat-card-title>       
        {{container.name}}        
      </mat-card-title>
      <mat-card-subtitle><h3><b>{{container.context.name}}</b></h3></mat-card-subtitle>
      <mat-card-subtitle>{{container.scenario.name}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>

</div>

      </mat-tab>
    </mat-tab-group>
  </as-split-area>
  <as-split-area [size]="80">
    <as-split direction="vertical" >
    <as-split-area id="frontend">
      <div style="display: block;height: 100%;" *ngIf="data_type=='report'">
        <H2><b>{{report_name}}</b></H2>
        <canvas
          baseChart
          style="margin:auto;width:100%;height:80%"
          [type]="'line'"
          [data]="lineChartData"
          [options]="lineChartOptions"
          [legend]="lineChartLegend"
        >
        </canvas>
      </div>
      <div style="display: block;height: 100%;" *ngIf="data_type=='tasks'">
        <mat-tab-group>
          <mat-tab>
            <h2>{{task.name}}</h2>
            <h3 *ngIf="task.jiras && task.jiras.length > 0">Total {{task.jiras.length}} still open Jiras found by automation</h3>
            <h3>Total {{task.scenario_list.length - task.removed.length}} scenarios have been assigned</h3>        
            <h3 *ngIf="task.passed_jiras && task.passed_jiras.length > 0">Total {{task.passed_jiras.length}} jiras have been passed the auto test and probably could be marked as verified</h3>
            <h3 *ngIf="task.removed_scenarios">The tests for {{task.removed_scenarios.length}} scenarios have been moved out of daily auto test</h3>
            
            <table mat-table [dataSource]="task.scenario_list" class="mat-elevation-z8">
              <ng-container matColumnDef="scenario">
                <th mat-header-cell *matHeaderCellDef>SCENARIO</th>
                
                <td mat-cell *matCellDef="let element"><a href="{{element.url}}" target="_blank">{{element.name}}</a> </td>            
              </ng-container>
              <ng-container matColumnDef="jiras">
                <th mat-header-cell *matHeaderCellDef>JIRA ID</th>
                <td mat-cell *matCellDef="let element"><li *ngFor="let jira of element.jiras"> <a href="{{jira_url}}{{jira}}" target="_blank">{{jira}}</a></li> </td>            
              </ng-container>
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>STATUS</th>
                <td mat-cell *matCellDef="let element"> <p>{{element.status}}</p>
                </td>            
              </ng-container>
              <ng-container matColumnDef="comment">
                <th mat-header-cell *matHeaderCellDef>COMMENTS</th>
                <td mat-cell *matCellDef="let element"> <div *ngIf="element.comments">
                <p *ngFor="let comment of element.comments">
                 {{comment}}
                </p>               
                </div>
                </td>            
              </ng-container>
  
  
              <tr mat-header-row *matHeaderRowDef="task_headers"></tr>
              <tr mat-row *matRowDef="let row; columns: task_headers;" [class.changed]="row.updated" [class.warn]="row.status=='monitor'" 
                [class.jira]="row.status=='checked'"></tr>
            </table>
    
  
          </mat-tab>
        </mat-tab-group>
      </div>
      <div style="display: block;height: 100%;" *ngIf="data_type=='jira'">
        <mat-tab-group>
          <mat-tab>

        <div *ngIf="jira">
          <h3 *ngIf="!jira.data.is_updating"><span>{{jira.name}}</span><button mat-raised-button  color="primary" style="margin-left: 10px;" *ngIf="jira.data.is_added" (click)="updateJira()">Update</button></h3>          
          <button mat-raised-button  color="primary" style="margin-left: 10px;" [matMenuTriggerFor]="jira_menu" [disabled]="jira.data.checked.length==0">Assign to Case</button>
          <mat-menu #jira_menu="matMenu">
            <div *ngFor="let case of jira.data.jiras">
            <button mat-menu-item  class="menu-item" *ngIf="(case.id + ':' + case.summary) != jira.name" (click)="moveScenarios(jira, case)">{{case.id}}:{{case.summary}}</button>              
            </div>
          </mat-menu>
          <button mat-raised-button  color="primary" style="margin-left: 10px;" [disabled]="jira.data.checked.length==0" (click)="removeScenarios(jira)">Remove from Case</button>
          <div *ngIf="jira.data.scenarios.length > jira.data.removed.length">
            <h4>Existing Scenarios</h4>
            <div *ngFor="let scenario of jira.data.scenarios">
            <mat-checkbox  *ngIf="!isRemoved(jira,scenario.name)" (change)="checkScenario(jira,scenario)" [checked]="jira.data.checked.indexOf(scenario.name) >= 0">{{scenario.name}}</mat-checkbox>
            </div>
          </div>
          <div *ngIf="jira.data.changes.length > 0">
            <h4>Newly Added Scenarios</h4>
            <mat-checkbox *ngFor="let scenario of jira.data.changes" (change)="checkScenario(jira,scenario)" [checked]="jira.data.checked.indexOf(scenario.name) >= 0">{{scenario.name}}</mat-checkbox>
          </div>   
          <div *ngIf="jira.data.removed.length > 0">
            <h4>Removed Scenarios</h4>
            <li *ngFor="let scenario of jira.data.removed">{{scenario}}</li>
          </div>     
    
        </div>
        <div *ngIf="new_jira">

            <mat-checkbox [(ngModel)]="new_jira.is_new">Create a new Jira</mat-checkbox>

          <div *ngIf="!new_jira.is_new">
          <mat-form-field >
            <mat-label>Existing Jira ID</mat-label>
            <input matInput [(ngModel)]="new_jira.id" required>
          </mat-form-field>
          </div>
          <mat-form-field style="width:100%">
            <mat-label>Summary</mat-label>
            <input matInput [(ngModel)]="new_jira.summary" required>
          </mat-form-field>          
          <div *ngIf="new_jira.is_new">
            <mat-form-field >
              <mat-label>Select a Project </mat-label>
              <mat-select [(ngModel)]="new_jira.project" required>
                <mat-option *ngFor="let project of configure.projects" [value]="project">
                  {{project}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Select a team </mat-label>
              <mat-select [(ngModel)]="new_jira.team">
                <mat-option *ngFor="let team of configure.teams" [value]="team">
                  {{team}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          <mat-form-field style="display: block;">
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="new_jira.description" required></textarea>
          </mat-form-field>
          <mat-form-field style="display: block;">
            <mat-label>Reproduced Steps</mat-label>
            <textarea matInput [(ngModel)]="new_jira.steps" required></textarea>                        
          </mat-form-field>
        </div>
          <button mat-raised-button  color="primary" style="margin-left: 10px;display: block;" [disabled]="!validate()" (click)="saveJira()">Save</button>
        </div>
        <div *ngIf="!jira && !new_jira">
          <h2>Summary</h2>
          <h3>Total {{data[selectIndex].jiras.length}} still open Jiras found by automation</h3>
          <h3>Total {{data[selectIndex].checked_cases}} scenarios have been checked</h3>
          <h3 *ngIf="data[selectIndex].passed_jiras">Total {{data[selectIndex].passed_jiras}} jiras have been passed the auto test and probably could be marked as verified</h3>
          <h3 *ngIf="data[selectIndex].moved_jiras">The tests for {{data[selectIndex].moved_jiras}} jiras have been moved out of daily auto test</h3>
          <h3 *ngIf="changedJiras>0">Total {{changedJiras}} Jiras has been changed</h3>          
          <table mat-table [dataSource]="data[selectIndex].perspectives[2].data._data._value" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>JIRA ID</th>
              
              <td mat-cell *matCellDef="let element"><a href="{{jira_url}}{{element.data.id}}" target="_blank">{{element.data.id}}</a> </td>            
            </ng-container>
            <ng-container matColumnDef="summary">
              <th mat-header-cell *matHeaderCellDef>SUMMARY</th>
              <td mat-cell *matCellDef="let element"> {{element.name.split(":")[1]}} </td>            
            </ng-container>
            <ng-container matColumnDef="scenarios">
              <th mat-header-cell *matHeaderCellDef>SCENARIOS</th>
              <td mat-cell *matCellDef="let element"> <p *ngFor="let scenario_item of element.data.scenarios" [class.removed]="element.data.removed.indexOf(scenario_item.name)>=0">{{scenario_item.name}}</p> 
                <div *ngIf="element.data.changes.length > 0"><b>Newly Added</b>
                  <p *ngFor="let scenario of element.data.changes"><b>{{scenario.name}}</b></p>            
                  </div>
              </td>            
            </ng-container>
            <ng-container matColumnDef="comment">
              <th mat-header-cell *matHeaderCellDef>COMMENTS</th>
              <td mat-cell *matCellDef="let element"> <div *ngIf="element.data.scenarios.length == 0 && !element.data.passed_tests">
              <p >
                {{element.data.scenario_text}} not in daily auto test. 
              </p>
             <b>please check whether they are moved out of daily auto test</b>
            </div>
              <div *ngIf="element.data.passed_tests">
                <ul>The below tests were passed in auto daily tests
                <li *ngFor="let pass_test of element.data.passed_tests"><a  [href]="pass_test.url" target="_blank">{{pass_test.name}}</a></li>
                </ul>
                <b *ngIf="element.data.scenarios.length == 0"> Please check whether the ticket could be marked as verified</b>
                </div>
              </td>            
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="jira_headers"></tr>
            <tr mat-row *matRowDef="let row; columns: jira_headers;" [class.changed]="row.data.changes.length + row.data.removed.length>0" [class.warn]="row.data.scenarios.length == 0 && !row.data.passed_tests" 
              [class.jira]="row.data.scenarios.length == 0 && row.data.passed_tests"></tr>
          </table>
  
        </div>
      </mat-tab> 
      </mat-tab-group>  
      </div>

      <div style="display: block;height: 100%;" *ngIf="data_type=='timeline'">
        <mat-accordion multi *ngFor="let container of data[selectIndex].timelines.containers">
          
          <mat-expansion-panel *ngIf="container.checked && container.visible">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{container.name}} -- {{container.scenario.name}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            
            <mat-accordion multi="false" >      
              <mat-expansion-panel *ngFor="let context of container.scenario.contexts" [class.selected]="context.start_time > data[selectIndex].timelines.current_time" (opened)="openContainer(container)">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{context.name}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                
              <p *ngFor="let step of context.steps" [class.selected]="step > data[selectIndex].timelines.current_time">{{step}}</p>
            </mat-expansion-panel>
            </mat-accordion>
          
        </mat-expansion-panel>

        </mat-accordion>
        
      </div>            
      <mat-tab-group *ngIf="data_type=='test' && frontend">
        
        <mat-tab label="Steps">          
          <div style="display:inline-flex;"><a id="frontend_test_name" *ngIf="frontend.url" [href]="frontend.url" target="_blank">{{frontend.name}}</a>
            <button mat-raised-button (click)="copyLink()" color="primary" style="margin-left: 10%;">Copy</button>
            <button mat-raised-button (click)="gotoError()" color="primary" style="margin-left: 10px;">Error Step</button>
            <button mat-raised-button (click)="logSwitch()" color="primary" style="margin-left: 10px;" >{{frontend.show_log}}</button>
            <button mat-raised-button (click)="manageSwitch()" color="primary" style="margin-left: 10px;" >{{frontend.show_management}}</button>
            
           </div>           
           <h3><a [href]="frontend.screenshots_url" target="_blank" *ngIf="frontend.screenshots_url" class="button">Download Screenshots Archive</a></h3> 
           <h3 *ngIf="frontend.node.data.last_success_test">
              <a [href]="frontend.node.data.last_success_test.url" target="_blank">The last successful test was performed {{frontend.node.data.last_success_test.test_time}}
                 with Portal version {{frontend.node.data.last_success_test.version}}</a>
              </h3>
              <div *ngIf="frontend.node.data.comments">
                <mat-card *ngFor="let comment of frontend.node.data.comments" style="border:solid 1px black;">
                  <mat-card-header> 
                    <mat-card-title>
                      {{comment.user}}        
                    </mat-card-title>
                    <mat-card-subtitle><h3><b>{{comment.datatime}}</b></h3></mat-card-subtitle>                  
                  </mat-card-header>
                  <mat-card-content>{{comment.content}}</mat-card-content>
                </mat-card>
              </div>
              
    
          <h3 *ngIf="frontend.node.data.jiras.length - frontend.node.data.removed.length > 0">Jira:
            <div *ngFor="let jira of frontend.node.data.jiras">
            <li *ngIf="frontend.node.data.removed.indexOf(jira) < 0">
              <a href="{{jira_url}}{{jira}}" target="_blank">{{jira}}</a> <span *ngIf="frontend.reporters[jira]"> (Reported by {{frontend.reporters[jira]}})</span>
            </li>
            </div>
          </h3>
          <div *ngIf="frontend.is_managed">
          <button mat-raised-button  color="primary" style="margin-left: 10px;" [matMenuTriggerFor]="menu">Add to Jira</button>            
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="assignJira()" class="menu-item" >Add a Jira</button>
            <div *ngFor="let jira of data[selectIndex].jiras" >
            <button mat-menu-item (click)="assignNode(jira)" class="menu-item" *ngIf="frontend.node.data.jiras.indexOf(jira.id)<0">{{jira.id}}:{{jira.summary}}</button>              
            </div>
          </mat-menu>

          <mat-form-field style="display: block;">
            <mat-label>Add Comments</mat-label>
            <textarea matInput [(ngModel)]="frontend.node.data.temp_comment.content" [required]="frontend.node.data.temp_comment.is_monitor"></textarea>
          </mat-form-field>            
          <mat-checkbox [(ngModel)]="frontend.node.data.temp_comment.is_monitor"><b>Put in Monitor</b></mat-checkbox>
          <button mat-raised-button color="primary" style="margin-left: 10%;" (click)="addComment()" [disabled]="!frontend.node.data.temp_comment.content||frontend.node.data.temp_comment.content < 2
          ||(frontend.node.data.new_comment&&frontend.node.data.new_comment.content==frontend.node.data.temp_comment.content&&
          frontend.node.data.new_comment.is_monitor==frontend.node.data.temp_comment.is_monitor)">Save</button>
          <button mat-raised-button color="primary" style="margin-left: 10px;" (click)="removeComment()" [disabled]="!frontend.node.data.new_comment">Delete</button>


          <h3 [ngClass]="{'warn':!frontend.node.data.assigned,'jira':frontend.node.data.assigned}"><span *ngIf="frontend.node.data.owner"> Suggested owner : {{frontend.owner.user}} ( feature : {{frontend.node.data.feature_file}}). </span>
            <span *ngIf="frontend.node.data.assigned"> Currently it is assigned to {{frontend.node.data.assigned}} </span>
            <span *ngIf="!frontend.node.data.assigned"> Currently it is not assigned !</span>            
            <button mat-raised-button color="primary" style="margin-left: 10%;"  [matMenuTriggerFor]="ownerMenu">Assign Task</button></h3>
            <mat-menu #ownerMenu="matMenu">
              <div *ngFor="let owner of owner_list" >
              <button mat-menu-item (click)="assignTask(owner)" class="menu-item" *ngIf="!(frontend.node.data.assigned&&owner==frontend.node.data.assigned)" >{{owner}}</button>              
              </div>
            </mat-menu>
          </div>  
          <h3 *ngIf="frontend.node.data.changes.length > 0">New Added Jira:
            <li *ngFor="let jira of frontend.node.data.changes">
              <a href="{{jira_url}}{{jira}}" target="_blank">{{jira}}</a> 
            </li>
          </h3>
          <h3><b>End Time:{{frontend.end_time}}</b></h3>
          <div *ngFor="let step of frontend.steps"><p [attr.id]="step.result === 'failed'?'error_step_id':null" [ngClass] = "{'error':step.result === 'failed'}">{{step.name}} &nbsp;&nbsp;&nbsp;({{step.duration}})</p>
          <table *ngIf="step.table" style="border:double"><tr *ngFor="let row of step.table">
            <td *ngFor="let item of row" style="border:groove">{{item}}</td>
          </tr></table></div>          
        </mat-tab>
        <mat-tab label="Error Message"><pre class="text">{{frontend.error_message}}</pre></mat-tab>
          
        <mat-tab label="Screenshot"><img [src]="frontend.img" *ngIf="frontend.img" style="height: 100%; width: 100%;"></mat-tab>
      
        <mat-tab label="Console Log"><div *ngIf="frontend.console_log"><b>{{frontend.console_log[0]}}</b>
          <pre *ngFor="let line of frontend.console_log.slice(1)"class="text">{{line}}</pre>
          </div>
        </mat-tab>
      </mat-tab-group>
    </as-split-area>    
    <as-split-area [visible]="data_type=='report' || (data_type=='test' && frontend && frontend.show_log == 'Hide Log') ">     
      <div *ngIf="data_type=='report'">   
        <table mat-table [dataSource]="datasources" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
          <ng-container [matColumnDef]="item" *ngFor="let item of headers">
            <th mat-header-cell *matHeaderCellDef [mat-sort-header]="item">{{item}}</th>
            <td mat-cell *matCellDef="let element"> {{element[item]}} </td>            
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="headers"></tr>
          <tr mat-row *matRowDef="let row; columns: headers;"></tr>
        </table>
      </div>
      <mat-tab-group *ngIf="data_type=='test' && backend">
        <mat-tab *ngFor="let server of backend" [label] = "server.name"><input type="search" matInput placeholder="Search" [(ngModel)]="server.search" (change)="changeSearch()" style="width:100%">
          <div class="text" *ngFor="let line of server.logs" [ngClass] = "{'error':test_user_id.length > 0 && line.content.indexOf(test_user_id) > 0}"><span *ngIf="line.content.indexOf(server.search)>=0">{{line.log_time}}:{{line.content}}<hr></span></div></mat-tab>
      </mat-tab-group>
    </as-split-area>
    </as-split>
  </as-split-area>

</as-split>
<button mat-raised-button [disabled] = "jiraChanges+taskChanges==0" color="primary" (click)="submitChanges()">Submit</button><span *ngIf="jiraChanges>0"><b style="color:red">{{jiraChanges}}</b> changes in Jira</span><span *ngIf="taskChanges>0" style="margin-left: 20px;"><b style="color:red">{{taskChanges}}</b> changes in Tasks</span>