
  pre{
    white-space: pre-wrap;
  }
mat-tab-group {
  height: 100%;
}

.vertical_tabs{
    flex-direction: row;
    
    
} 

:host /deep/ .vertical_tabs .mdc-tab{
  min-width: 35px;
  padding-left: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 5px;
}

:host /deep/ .mat-mdc-tab-body-wrapper{
  height: 100%;
}

:host /deep/ .vertical_tabs .mat-mdc-tab-labels  {
  flex-direction: column;
}

:host /deep/ .vertical_tabs .mdc-tab{
  writing-mode: vertical-rl;
  text-orientation: mixed;
  border-top:double;
}
.qaauto-tree-invisible {
    display: none;
  }
  .header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
    position: sticky;
    top: 0;
    width: 100%
  }

  :host ::ng-deep .mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab__text-label{
    color: #f1f1f1 !important;
  }
  :host ::ng-deep .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label{
    color:aqua !important;
  }
  :host /deep/ .vertical-tabs mat-tab-header {
    top: 0;
    z-index: 1000; 
    background: rgb(85, 2, 54);
    color: #f1f1f1;
    position: sticky;
    position: -webkit-sticky; /* macOS/iOS Safari */    
}

  :host /deep/ mat-tab-header {
    top: 0;
    z-index: 1000; 
    background: #555;
    color: #f1f1f1;
    position: sticky;
    position: -webkit-sticky; /* macOS/iOS Safari */    
}
  .selected{
    background-color: aqua;
  }

  .jira{
    background-color: rgb(126, 247, 115);
  }
  
  .scenario-text{
    text-align: left;
  }
  .error{
    background-color: crimson;
  }
  .qaauto-tree ul,
  .qaauto-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  
  .text{
    padding-left: 40px;
  }
  /*
   * This padding sets alignment of the nested nodes.
   */
  .qaauto-tree .mat-nested-tree-node div[role=group] {
    padding-left: 40px;
  }
  
  /*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */
  .qaauto-tree div[role=group] > .mat-tree-node {
    padding-left: 40px;
  }

  .menu-item:hover {
    background-color: aqua;
  }

  .menu-item{
    border-bottom:solid ;
  }

  img mat-form-field{
    width: 100%;
  }